body
{
    padding: 0;
    margin: 0;
}

.header
{
    width: 1920px;
    height: 80px;
    background-color: gray;
}

.h_h1
{
    text-align: center;
    padding: 0;
    margin: 0;
}

.card1
{
    width: 160px;
    height: 220px;
    background-color: bisque;
    display: flex;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.card1:hover
{
    top: 25%;
}

.card2
{
    width: 160px;
    height: 220px;
    background-color: bisque;
    display: flex;
    position: absolute;
    top: 30%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.card2:hover
{
    top: 25%;
}


.card3
{
    width: 160px;
    height: 220px;
    background-color: bisque;
    display: flex;
    position: absolute;
    top: 30%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.card3:hover
{
    top: 25%;
}


